body {
  background: rgb(252, 247, 244);
  margin-top: 50px;
  margin-left: 100px;
  }
 
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: rgb(235, 122, 70);
  }
 
p {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: rgb(42, 78, 83);
  }