<link rel="stylesheet" type="text/css" href= {{ url_for("static",filename="css/main.css") }} >

{% block header %}
  <h1>{% block title %}Submit Your Message!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="message">Your message</label>
      <input name="message" id="message">
      <br>
      <label for="name">Your name</label>
      <input name="name" id="name">
      <br>
      <input type="submit" value="Submit form">
  </form>
  <br>
  {% if name %}
  Hello {{name}}! Thank you for submitting!
  <br>
  Check <a href="/messages">here</a> to see the messages people left!
  {% endif %}
{% endblock %}